.form-control:focus {
    border-color: #DC3544 !important;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5) !important;
}

.sort-button:active {
    background-color: #dee2e6 !important;
}
.sort-button:hover {
    cursor: pointer;
}
.font-awesome-button {
    background-color: white;
    border: none;
}
.font-awesome-button:focus {
    outline: none;
}