table.table.table-sm.table-hover th.oidTHead, table.table.table-sm th.oidTHead, th.oid {
    text-align: center;
    width: 5%;
}
table.table.table-sm.table-hover th.type, table.table.table-sm th.type {
    width: 10%;
}

table.table.table-sm tr td.emptyText {
    text-align: center;
}