.catalogSpinner {
    /*выравнивание на середину*/
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
}

table.table.table-sm.table-hover th.oidTHead, th.oid {
    text-align: center;
    width: 5%;
}
table.table.table-sm.table-hover td.type {
    width: 10%;
}